* {
  box-sizing: border-box;
}
.back2{
  background-image: url(background.jpg);
  max-width: 1280px;
  height: 300px;
  display: flex

}

/* Add padding to containers */
.container {
  padding-left: 30px;
  padding-top: 50px;
}
.container label {
  font-family: serif;
  font-size: 18px;
  padding-bottom: 5px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
  border: 0.1px black solid;
}

.container h1 {
  color: rgb(35, 240, 209);
  text-align: center;
}
#kick {
  padding: 20px;
  color: black;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

#kick:hover {
  color: rgb(5, 4, 3);
}
.optr {
  font-family: serif;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}
.optr select {
  padding-left: 0px;
  font-size: 15px;
  color: black;
  padding-top: 0;
  margin-top: 30px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: white;
  border: 0.1px solid black;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: rgb(108, 255, 108);
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
  text-align: center;
  margin-left: 38%;
}

.registerbtn:hover {
  opacity: 1;
  background-color: rgb(44, 228, 44);
  font-size: 18px;
  text-align: center;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: white;
  text-align: center;
  margin-bottom: 80px;
  font-size: 20px;
}
